name: Build Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Build Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install pnpm
        run: |
          npm install -g pnpm
          echo "PNPM PATH: $(which pnpm)"
          pnpm --version

      - name: Install dependencies
        run: pnpm install

      - name: Run build
        run: pnpm build
